[submodule "scripts/analyzer/demo/lazytracker"]
	path = scripts/analyzer/demo/lazytracker
	url = git@github.com:AstuteSource/lazytracker.git
[submodule "scripts/analyzer/demo/chasten"]
	path = scripts/analyzer/demo/chasten
	url = git@github.com:AstuteSource/chasten.git
[submodule "scripts/analyzer/demo/python-playground"]
	path = scripts/analyzer/demo/python-playground
	url = git@github.com:Danniyb/python-playground.git
[submodule "scripts/analyzer/demo/mutmut"]
	path = scripts/analyzer/demo/mutmut
	url = git@github.com:boxed/mutmut.git
